<section class="block-stat">
  <div class="grid grid--1x2 grid--1x4 constraint">
    <div class="media media--num">
      <div class="icon-container icon-container--dark">
        <i class="icon icon--white fas fa-mug-hot"></i>
      </div>
      <div class="media__body">
        <h3 class="media__heading">1.236</h3>
        <p class="media__description">Coffee Drinks</p>
      </div>
    </div>
    <div class="media media--num">
      <div class="icon-container icon-container--dark">
        <i class="icon icon--white far fa-folder"></i>
      </div>
      <div class="media__body">
        <h3 class="media__heading">256</h3>
        <p class="media__description">Completed Projects</p>
      </div>
    </div>
    <div class="media media--num">
      <div class="icon-container icon-container--dark">
        <i class="icon icon--white far fa-envelope"></i>
      </div>
      <div class="media__body">
        <h3 class="media__heading">1,743</h3>
        <p class="media__description">Mail Sent</p>
      </div>
    </div>
    <div class="media media--num">
      <div class="icon-container icon-container--dark">
        <i class="icon icon--white fas fa-trophy"></i>
      </div>
      <div class="media__body">
        <h3 class="media__heading">17</h3>
        <p class="media__description">Awards Received</p>
      </div>
    </div>
  </div>
</section>
