<section class="block-services block constraint">
  <div class="block__header">
    <h2 class="block__heading">Services</h2>
    <p class="block__text">
      Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris
      blandit aliquet elit, eget tincidunt.
    </p>
  </div>
  <div class="block__body">
    <div class="grid grid--1x2">
      <div class="media media--flex">
        <i class="icon icon--dark fas fa-desktop fa-3x"></i>
        <div class="media__body">
          <h3 class="media__heading">Vorem amet intuitive</h3>
          <p class="media__description">
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            Curabitur aliquet quam.
          </p>
        </div>
      </div>
      <!-- ** -->
      <div class="media media--flex">
        <i class="icon icon--dark fas fa-cog fa-3x"></i>
        <div class="media__body">
          <h3 class="media__heading">Vorem amet intuitive</h3>
          <p class="media__description">
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            Curabitur aliquet quam.
          </p>
        </div>
      </div>
      <!-- ** -->
      <div class="media media--flex">
        <i class="icon icon--dark fas fa-pencil-ruler fa-3x"></i>
        <div class="media__body">
          <h3 class="media__heading">Vorem amet intuitive</h3>
          <p class="media__description">
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            Curabitur aliquet quam.
          </p>
        </div>
      </div>
      <!-- ** -->
      <div class="media media--flex">
        <i class="icon icon--dark fas fa-camera fa-3x"></i>
        <div class="media__body">
          <h3 class="media__heading">Vorem amet intuitive</h3>
          <p class="media__description">
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            Curabitur aliquet quam.
          </p>
        </div>
      </div>
      <!-- ** -->
    </div>
  </div>
</section>
