<section class="block-portfolio block">
  <div class="constraint">
    <div class="block__header">
      <h2 class="block__heading">portfolio</h2>
      <p class="block__text">
        Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris
        blandit aliquet elit, eget tincidunt.
      </p>
    </div>
    <div class="block__body">
      <ul class="list list--inline list--dark">
        <li class="list__item list--white">All</li>
        <li class="list__item">App</li>
        <li class="list__item">Photo</li>
        <li class="list__item">Web</li>
        <li class="list__item">Print</li>
      </ul>
    </div>
  </div>
  <div class="block-portfolio__imgs">
    <div class="grid grid--1x2 grid--1x4">
      <div class="block-portfolio__img">
        <div class="icon-container icon-container--primary">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
        <img src="images/shuffle-01.jpg" alt="" />

        <figcaption class="block-portfolio__caption">
          <h3 class="caption__heading">Awesome Image</h3>
          <p class="caption__text">Photography</p>
        </figcaption>
      </div>

      <div class="block-portfolio__img">
        <div class="icon-container icon-container--primary">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
        <img src="images/shuffle-02.jpg" alt="" />

        <figcaption class="block-portfolio__caption">
          <h3 class="caption__heading">Awesome Image</h3>
          <p class="caption__text">Photography</p>
        </figcaption>
      </div>

      <div class="block-portfolio__img">
        <div class="icon-container icon-container--primary">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
        <img src="images/shuffle-03.jpg" alt="" />

        <figcaption class="block-portfolio__caption">
          <h3 class="caption__heading">Awesome Image</h3>
          <p class="caption__text">Photography</p>
        </figcaption>
      </div>

      <div class="block-portfolio__img">
        <div class="icon-container icon-container--primary">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
        <img src="images/shuffle-04.jpg" alt="" />

        <figcaption class="block-portfolio__caption">
          <h3 class="caption__heading">Awesome Image</h3>
          <p class="caption__text">Photography</p>
        </figcaption>
      </div>

      <div class="block-portfolio__img">
        <div class="icon-container icon-container--primary">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
        <img src="images/shuffle-05.jpg" alt="" />

        <figcaption class="block-portfolio__caption">
          <h3 class="caption__heading">Awesome Image</h3>
          <p class="caption__text">Photography</p>
        </figcaption>
      </div>

      <div class="block-portfolio__img">
        <div class="icon-container icon-container--primary">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
        <img src="images/shuffle-06.jpg" alt="" />

        <figcaption class="block-portfolio__caption">
          <h3 class="caption__heading">Awesome Image</h3>
          <p class="caption__text">Photography</p>
        </figcaption>
      </div>

      <div class="block-portfolio__img">
        <div class="icon-container icon-container--primary">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
        <img src="images/shuffle-07.jpg" alt="" />

        <figcaption class="block-portfolio__caption">
          <h3 class="caption__heading">Awesome Image</h3>
          <p class="caption__text">Photography</p>
        </figcaption>
      </div>

      <div class="block-portfolio__img">
        <div class="icon-container icon-container--primary">
          <i class="fa-solid fa-plus fa-2x"></i>
        </div>
        <img src="images/shuffle-08.jpg" alt="" />

        <figcaption class="block-portfolio__caption">
          <h3 class="caption__heading">Awesome Image</h3>
          <p class="caption__text">Photography</p>
        </figcaption>
      </div>
    </div>
  </div>
  <button class="btn btn--15x2 btn--primary">more</button>
</section>
