<section class="block-landing">
  <i
    class="icon icon1 icon--white fas fa-angle-left change-background fa-2x"
  ></i>
  <i
    class="icon icon2 icon--white fas fa-angle-right change-background fa-2x"
  ></i>

  <div class="grid grid--1x2 grid--1x3">
    <div class="landing">
      <span class="temp"></span>
      <div class="landing__header">
        <h1 class="landing__heading">
          Hello World! <br />
          We Are Kasper We Make Art.
        </h1>
        <p class="landing__text">
          Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
          Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur
          aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris
          blandit aliquet elit, eget tincidunt.
        </p>
      </div>
    </div>
  </div>
  <ul class="list list--inline list--bullets list--white">
    <li class="list__item"></li>
    <li class="list__item"></li>
    <li class="list__item"></li>
  </ul>
</section>
