<section class="block-test-skill block">
  <div class="grid grid--1x2 constraint">
    <div class="testimonials">
      <div class="testimonials__header">
        <h3 class="testimonials__heading">testimonials</h3>
        <p class="testimonials__text">
          Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
          Mauris blandit aliquet elit, eget tincidunt.
        </p>
      </div>
      <div class="media media--flex">
        <img class="testimonials__img" src="images/skills-01.jpg" alt="" />
        <div class="media__body">
          <p class="media__heading">
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
            Mauris blandit aliquet elit, eget tincidunt.
          </p>
          <span class="media__description"> John Doe, CEO </span>
        </div>
      </div>
      <!-- ** -->
      <div class="media media--flex">
        <img class="testimonials__img" src="images/skills-02.jpg" alt="" />
        <div class="media__body">
          <p class="media__heading">
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
            Mauris blandit aliquet elit, eget tincidunt.
          </p>
          <span class="media__description"> John Doe, CEO </span>
        </div>
      </div>
      <!-- ** -->
      <ul class="list list--inline list--bullets list--small">
        <li class="list__item"></li>
        <li class="list__item"></li>
        <li class="list__item"></li>
      </ul>
    </div>
    <div class="skills">
      <div class="skills__header">
        <h3 class="skills__heading">skills</h3>
        <p class="skills__text">
          Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.
          Mauris blandit aliquet elit, eget tincidunt.
        </p>
      </div>
      <h4 class="skill__heading">adobe</h4>
      <div class="box-container box-container1">
        <div class="box"></div>
      </div>
      <h4 class="skill__heading">html & css</h4>
      <div class="box-container box-container2">
        <div class="box"></div>
      </div>
      <h4 class="skill__heading">javascript</h4>
      <div class="box-container box-container3">
        <div class="box"></div>
      </div>
      <h4 class="skill__heading">php</h4>
      <div class="box-container box-container4">
        <div class="box"></div>
      </div>
    </div>
  </div>
</section>
