      <nav class="block-nav constraint">
        <img class="nav__logo" src="images/logo.png" alt="" />
        <i
          class="icon icon1 icon--white fas fa-bars toggle-menu collapsible"
        ></i>
        <i class="icon icon2 icon--white fas fa-search"></i>

        <ul class="list list--inline list--white collapsible__content">
          <a href=""> <li class="list__item">Home</li> </a>
          <a href=""> <li class="list__item">Services</li> </a>
          <a href=""> <li class="list__item">Portfolio</li> </a>
          <a href=""> <li class="list__item">About</li> </a>
          <a href=""> <li class="list__item">Pricing</li> </a>
          <a href=""> <li class="list__item">Contact</li> </a>
        </ul>
      </nav>
    </header>