<section class="block-subscribe">
  <div class="grid grid--1x2 constraint">
    <form class="form">
      <div class="form-container">
        <i class="icon icon--white far fa-envelope"></i>
        <input type="email" name="Email" placeholder="Your Email" />
      </div>
      <input class="submit" type="submit" value="subscribe" />
    </form>
    <p class="block-subscribe__text">
      Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris
      blan dit aliquet elit, eget tincidunt.
    </p>
  </div>
</section>
