<footer class="block-footer">
  <div class="footer constraint">
    <img class="footer__img" src="images/logo.png" alt="" />
    <p class="footer__text">WE ARE SOCIAL</p>
    <i class="icon icon--white fab fa-facebook-f"></i>
    <i class="icon icon--white fab fa-twitter"></i>
    <i class="icon icon--white fas fa-home"></i>
    <i class="icon icon--white fab fa-linkedin"></i>
    <p class="footer__copyright">
      © 2022 <span class="my-name">Bensadok Ishak,</span>
      <span class="Kasper">Kasper</span> All Rights Reserved
    </p>
  </div>
</footer>
