<section class="block-design">
  <div class="grid grid--1x2">
    <div class="block-design__phone">
      <img src="images/mobile.png" alt="" />
    </div>
    <div class="block-design__info">
      <h2 class="info__heading">OUR DESIGNS COMES WITH...</h2>
      <ul class="list list--icon list--white">
        <li class="list__item">Responsive Design</li>
        <li class="list__item">Modern And Clean Design</li>
        <li class="list__item">Clean Code</li>
        <li class="list__item">Browser Friendly</li>
      </ul>
    </div>
  </div>
</section>
