<section class="block-contact block constraint">
  <div class="block__header">
    <h2 class="block__heading">contact us</h2>
    <p class="block__text">
      Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris
      blandit aliquet elit, eget tincidunt.
    </p>
  </div>
  <div class="block__body">
    <div class="grid grid--1x2">
      <form class="form">
        <input type="text" name="Name" placeholder="Your Name" />
        <input type="email" name="Email" placeholder="Your Email" />
        <textarea name="Message" id="" placeholder="Your Message"></textarea>
        <input class="submit" type="submit" value="SEND MESSAGE" />
      </form>
      <div class="form-info">
        <h4 class="form-info__heading">GET IN TOUCH</h4>
        <span class="form-info__num"> +00 123.456.789</span
        ><span class="form-info__num">+00 123.456.789 </span>

        <h4 class="form-info__heading">WHERE WE ARE</h4>
        <address class="address">
          Awesome Address 17 <br />
          New York, NYC<br />
          123-4567-890<br />
          USA
        </address>
      </div>
    </div>
  </div>
</section>
