<i class="icon icon--dark fas fa-desktop fa-3x"></i>
<i class="icon icon--dark fas fa-cog fa-3x"></i>
<i class="icon icon--dark fas fa-pencil-ruler fa-3x"></i>
<i class="icon icon--dark fas fa-camera fa-3x"></i>

<i class="icon icon--primary fa-solid fa-circle-plus fa-3x"></i>

<div class="icon-container">
  <i class="icon icon--white fas fa-mug-hot"></i>
</div>
<div class="icon-container">
  <i class="icon icon--white far fa-folder"></i>
</div>
<div class="icon-container">
  <i class="icon icon--white far fa-envelope"></i>
</div>
<div class="icon-container">
  <i class="icon icon--white fas fa-trophy"></i>
</div>

<i class="fab fa-facebook-f"></i>
<i class="fab fa-twitter"></i>
<i class="fas fa-home"></i>
<i class="fab fa-linkedin"></i>

<i class="fas fa-bars toggle-menu"></i>

<i class="fas fa-search"></i>

<i class="fas fa-angle-left change-background fa-2x"></i>
<i class="fas fa-angle-right change-background fa-2x"></i>
