<ul class="list list--icon list--white">
  <li class="list__item">Responsive Design</li>
  <li class="list__item">Modern And Clean Design</li>
  <li class="list__item">Clean Code</li>
  <li class="list__item">Browser Friendly</li>
</ul>
<!-- ********* -->
<ul class="list list--center list--dark">
  <li class="list__item">Feature No 1</li>
  <li class="list__item">Extra Feature</li>
  <li class="list__item">Extra Feature No 2</li>
  <li class="list__item">Feature</li>
</ul>
<ul class="list list--inline list--dark">
  <li class="list__item list--white">All</li>
  <li class="list__item">App</li>
  <li class="list__item">Photo</li>
  <li class="list__item">Web</li>
  <li class="list__item">Print</li>
</ul>

<!-- *** nav list *** -->

<ul class="list list--inline list--white">
  <a href=""> <li class="list__item">Home</li> </a>
  <a href=""> <li class="list__item">Services</li> </a>
  <a href=""> <li class="list__item">Portfolio</li> </a>
  <a href=""> <li class="list__item">About</li> </a>
  <a href=""> <li class="list__item">Pricing</li> </a>
  <a href=""> <li class="list__item">Contact</li> </a>
</ul>
<!-- ***** bullets **** -->
<ul class="list list--inline list--bullets list--white">
  <li class="list__item"></li>
  <li class="list__item"></li>
  <li class="list__item"></li>
</ul>
<!-- ***** bullets **** -->
<ul class="list list--inline list--bullets list--small">
  <li class="list__item"></li>
  <li class="list__item"></li>
  <li class="list__item"></li>
</ul>
