<div class="media media--flex">
  <i class="icon icon--dark fas fa-desktop fa-3x"></i>
  <div class="media__body">
    <h3 class="media__heading">Vorem amet intuitive</h3>
    <p class="media__description">
      Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris
      blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet
      quam.
    </p>
  </div>
</div>

<!-- *************** -->

<div class="media media--num">
  <div class="icon-container">
    <i class="icon icon--white fas fa-mug-hot"></i>
  </div>
  <div class="media__body">
    <h3 class="media__heading">1.236</h3>
    <p class="media__description">Coffee Drinks</p>
  </div>
</div>
