<div class="plan">
  <div class="plan__header">
    <h3 class="plan__heading">basic</h3>
    <span class="plan__price">19</span>
  </div>

  <div class="plan__body">
    <ul class="list list--center list--dark">
      <li class="list__item">Feature No 1</li>
      <li class="list__item">Extra Feature</li>
      <li class="list__item">Extra Feature No 2</li>
      <li class="list__item">Feature</li>
    </ul>
    <a href="" class="btn btn--2x2 btn--outline">buy now</a>
  </div>
</div>
